src/main/app/endpoint/endpoint.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="postTweet">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/tweet" allowedMethods="POST" doc:name="HTTP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <flow-ref name="processTweetInWatson" doc:name="processTweetInWatson"/>
        <flow-ref name="saveTweetAnalizedInMongo" doc:name="saveTweetAnalizedInMongo"/>
        <dw:transform-message doc:name="response">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="postQueryForIngestor">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/config" allowedMethods="POST" doc:name="HTTP"/>
        <set-variable variableName="twitterQuery" value="#[message.inboundProperties.'http.query.params'.twitterQuery]" doc:name="setQuery"/>
        <flow-ref name="saveTwitterQuery" doc:name="saveTwitterQuery"/>
        <dw:transform-message doc:name="response">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="getTwitterConfig">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/config" allowedMethods="GET" doc:name="HTTP"/>
        <flow-ref name="retrieveTwitterConfig" doc:name="retrieveTwitterConfig"/>
        <dw:transform-message doc:name="response">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
